/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: black;
}

nav .brand-logo {
  font-family: 'Caveat', cursive;
}  

.nav-wrapper {
  padding: 0 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 
.section-intro {
  height: 90%;
  width: 100%;
}

.header {
  margin-top: 5%;
  font-size: 50px;
}

.header-subtitle {
  margin-top: 5%;
  font-size: 1.5em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .nav-wrapper {
    padding: 0 10px;
  }

}

.col-servizio {
  margin-top: 10px;
  margin-bottom: 50px;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  line-height: 1.6em;
}

.section-registrazione {
  width: 100%;
  height: 100%;
}

.registrazione-icon {
  color: black;
  font-size: 3em;
  margin-top: 60px;
}

.registrazione-subtitle {
  font-size: 1.5em;
  margin-top: 5%;
}

.btn-registrazione {
  width: 100%;
}

.ospita-icon {
  color: black;
  font-size: 3em;
  margin-top: 60px;
}

.ospita-subtitle {
  font-size: 1.2em;
  margin-top: 3%;
  margin-bottom: 30px;
  line-height: 2em;
}
 
.btn-registrazione {
  width: 100%;
}

footer.page-footer {
  margin: 0
  background-color: #305467;
}

.social-icon {
  font-size: 1.5em;
  color: black;
  padding: 0 20px;
}

.social-icon:hover {
  color: #ef3550;
}